<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#f8fcf8] group/design-root overflow-x-hidden" style='font-family: Epilogue, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
            <h2 class="text-[#0e1b0e] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Total Cooking Time</h2>
            <div class="flex flex-col gap-3 p-4">
              <div class="flex gap-6 justify-between">
                <p class="text-[#0e1b0e] text-base font-medium leading-normal">Prep Time</p>
                <p class="text-[#0e1b0e] text-sm font-normal leading-normal">0%</p>
              </div>
              <div class="rounded bg-[#d0e7d0]"><div class="h-2 rounded bg-[#19e619]" style="width: 0%;"></div></div>
              <p class="text-[#4e974e] text-sm font-normal leading-normal">5 minutes</p>
            </div>
            <div class="flex flex-col gap-3 p-4">
              <div class="flex gap-6 justify-between">
                <p class="text-[#0e1b0e] text-base font-medium leading-normal">Cook Time</p>
                <p class="text-[#0e1b0e] text-sm font-normal leading-normal">0%</p>
              </div>
              <div class="rounded bg-[#d0e7d0]"><div class="h-2 rounded bg-[#19e619]" style="width: 0%;"></div></div>
              <p class="text-[#4e974e] text-sm font-normal leading-normal">25 minutes</p>
            </div>
            <div class="flex flex-col gap-3 p-4">
              <div class="flex gap-6 justify-between">
                <p class="text-[#0e1b0e] text-base font-medium leading-normal">Total Time</p>
                <p class="text-[#0e1b0e] text-sm font-normal leading-normal">0%</p>
              </div>
              <div class="rounded bg-[#d0e7d0]"><div class="h-2 rounded bg-[#19e619]" style="width: 0%;"></div></div>
              <p class="text-[#4e974e] text-sm font-normal leading-normal">30 minutes</p>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 flex-1 bg-[#19e619] text-[#0e1b0e] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Start Cooking</span>
              </button>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
